h1{
  margin: 2;
  padding: 5;
  overflow: hidden;
  background-color: transparent;
  font-style: normal;
  text-align: center;
  color: black;
}
h2 {
  color: darkred;
  margin-left: 20px;
  text-decoration: none;
}
h3 {
  color: darkred;
  margin-left: 20px;
  text-decoration: none;
}
body{
  background-color: transparent;
background-image: url("http://image.shutterstock.com/z/stock-photo-healthy-food-background-studio-photography-of-different-fruits-and-vegetables-on-wooden-table-210862876.jpg");
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: darkred;
}


ul {
    list-style-type: square;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: rgb(134,141,245);
    padding-left: 20px;
}
li {
  font-size: 20px;
}



ul li {
  font size : 22px;
  display: inline;
}
ol {
    list-style-type: lower-alpha;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    padding-left: 35px;
}
 p {
  color: green;
  text-decoration: underline;
  font-size: 20px;
  padding-left: 15px;
}
img {
  width:100;
  height:200;
}

.photos img {
  list-style-type: none;
  padding= 0 auto 0 auto;

}
.photos li {
  display: inline;
  padding-left: 15px;
  width: 200px;
  height: 250px;
}
.header-content {
  padding: inherit;
  margin: 0 auto 0 auto;
}
.body-content {
  padding: inherit;
  margin: 0 auto 0 auto;
}
